body {
    margin: 0px;
}
.post-container {
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #f3e2e2;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.post-container .data {
    font-family: 'Roboto', sans-serif;
    color: #008080;
}

.post {
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}